@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(83, 83, 83);
    color: whitesmoke;
    background: url(/img/fondooscuro2.png);   
    background-size: cover;
    background-position: center center;    
}

.navbar {
    display: flex;
    position: fixed;   
    width: 100%;
    transition: 0.7s;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    z-index: 10;
    padding: 30px 20%;
    z-index: 101;
}

nav.abajo {    
    display: flexbox;
    background: rgb(0, 0, 0);
    padding: 1% 10% 1% 10%;
    border-radius: 0px 0px 20px 20px;
    margin: 0% 10% 10% 0%;
    
}

nav.abajo .brand {
    color: rgb(255, 255, 255);   
}

nav.abajo .menu a {
    color: rgb(255, 255, 255);   
}

.brand {    
    color: whitesmoke;
    margin-top: -7px;
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}

.menu a:hover {
    border-radius: 10%;
    background-color: rgb(201, 201, 201);
    color: rgb(83, 83, 83);
    transition: ease-in .2s;
    
}

.main {
    margin: 0 auto;
    width: 96vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;     
}

h1 {
    font-size: 5vw;
    margin: 0% 0% 0% 0%;
    padding: 5% 0% 1% 20%;
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2 {
    font-size: 2vw;
    margin: 0% 1% 0% 0%;
    padding: 0ch 0% 0% 20%;
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    

}

h3 {
    font-size: 1.5vw;;
    color: white;
}

h4 {
    font-size: 1.5vw;;
    color: white;
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

h5 {
    font-size: 2vw;
    margin: 0% 1% 0% 0%;
    padding: 0ch 0% 0% 20%;
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    

}

h6 {       
    background-image: linear-gradient(to right, hsl(238, 67%, 90%), #ffffff);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.info-content p {
    margin: 5% 20% 5% 10%;
    padding: 0% 0% 0% 10% ;
    font-size: 1.2vw;
}

.info-content .animado {
    display: block;
    font-family: monospace;
    font-size: 2.5vw;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20.3ch;
    margin: 2% 0% 0% 20%;

    animation: typing 1.5s steps(20),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0px }
}

@keyframes blink {
    50% {border-color: transparent}
}


.download-cv {
    padding: 10px 25px;
    margin: 10px 0% 0% 20%;
    background-image: linear-gradient(to right, #999999, #f3f3f3); /* Gradiente plateado */
    border: none;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 4px 4px 11px -5px rgba(102, 231, 200, .69);
    font-weight: bold;
    transition: transform 0.2s ease;
}

.work {
    padding: 5px 16px;
    margin: 10px 0% 0% 2%;
    background-image: linear-gradient(to right, #999999, #f3f3f3); /* Gradiente plateado */
    border: none;
    border-radius: 20px;
    font-size: 26px;
    cursor: pointer;
    
    font-weight: bold;
    transition: transform 0.2s ease;
}

.download-cv:hover {
    background-image: linear-gradient(to right, #dbdbdb, #a8a8a8);
    box-shadow: none;    
    transform: scale(1.2); /* Escala el botón al 105% del tamaño original */
}

.work:hover {
    background-image: linear-gradient(to right, #dbdbdb, #a8a8a8);
    box-shadow: none;    
    transform: scale(1.3); /* Escala el botón al 105% del tamaño original */

}

.main img {   
    width: 45%;
    border: 70px;
    margin: 15% 20% 10% 20%;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 105vw;
    align-items: center;
    background: url(./img/fondo4.png);
    background-size: cover;
    background-position: center center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
    padding: 0% 20% 0% 10%;
}

.about-info h2 {
    padding: 0ch 0% 0% 0%;
    font-size: 2.5vw;
    color: rgb(255, 255, 255)
}

.dividier {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 15px;
    margin-bottom: 30px;
}

.about p {
    margin-bottom: 2em;
}

.about-info p {
    color: white;
}

.about .about-info .download-cv {
margin: 2% 0% 0% 0%;
}
/*-----------------------------------------------portafolio anulado por el momento------------------------

.portfolio {
    width: 100vw;
    background-color: gray;
    color: white;
}

.portfolio-headings {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    ;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.card {
    width: 350px;
    height: 450px;
    background-color: cadetblue;
    color:white;
    margin: 1em;

}

.card__img {
    width: 100%;
    height: 200px;
    background-image: url(/img/2-original.png);
    background-size: cover;
}

.card__title {
    padding: 20px;
}

.card__projects-links {
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: whitesmoke;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card__project-details {    
    margin: 0 auto;
    margin: 1em;
    width:70%;
}

.card__project-details a {
    color: rgb(0, 0, 0);
    text-decoration: none;    
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}


----------------------------------------------portafolio anulado por el momento---------------------------*/

/*-----------------------------------slider--------------------------------------*/

.slider{
    height: 100vh;
    margin-top: 0px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #14ff72cb;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;    
}
.slider .list .item .button button{
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
    border-radius: 10px;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}





/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}



---------------------slider----------------------------------------------*/

.contact-section {
    background: #000;
}

.contact-headings h2{
    border: 0% 0% 0% 0%;
    margin: -35% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: #000;
    font-size: 3em;

}

.container-contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;  
    background: url(./img/fondo4.png);
    padding: 8em;    
    background-size: cover;
    background-position: center center;   
}

.container-contact img {
    margin: 10% 0% 0% 0%;
    width: 30vw;
    height: 30vw;
    bottom: 0px;
}

.contact-form {
    border: 0% 0% 0% 0%;
    margin: -40% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    color: rgb(158, 158, 158);
}

.form textarea {
    height: 150px;
    background: none;
    color: rgb(255, 255, 255);
    padding: 1em;
    border: 1px solid black;
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    background-image: linear-gradient(to right, #999999, #f3f3f3); /* Gradiente plateado */
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 11px -5px rgba(102, 231, 200, .69);
    font-weight: bold;
}

.btn-submit:hover {
    background-image: linear-gradient(to right, #c9c9c9, #a8a8a8);
    box-shadow: none;
    
}

/*-----------------------------------footer------------------------------------------------------*/

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #000000; /* Color de fondo del footer */
    text-align: center; /* Centrar el texto horizontalmente */
    padding:20px;
    text-decoration: none;
    outline: none;
    border: none;
}

.footer-content {    
        max-width: 1200px; /* Ajustar el ancho máximo del contenido del footer */
        margin: 0 auto; /* Centrar el contenido horizontalmente */
}

.footer-text {
    display: flex;
    align-items: center; /* Alinear verticalmente en el centro */
    gap: 10px; /* Espacio entre el nombre y el título */
}

.footer-content h6 {
    font-size: 2vw;
    margin: 10px 0; /* Margen para separación */
}

.footer-content .fullstack {
    font-size: 1vw;
    margin: 10px 0; /* Margen para separación */
}

.sotial-network {
    margin-top: 20px;    
    border: none;
    text-decoration: none;
    outline: none;
}

.sotial-network a i {
    margin-top: 10px;    
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    outline: none;
    
}














/*
.footer-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    color: #fff;
    font-size: 3em;
}

.footer-content h5 {
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    
}

.sotial-network i {
    align-items: center;
    color: #fff;
    font-size: 1.5em;
}



.sotial-network {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}


*/